@model BaeCoach.ViewModel.BaeSignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>BaeSignUpPage</title>
</head>
<body>
    <center>
        <div id="element">
            <div class="card-body1" style="width:60%">
                <h3>SignUp</h3>
                <p>Please provide the necessary details below. </p>

                @using (Html.BeginForm("BaeAdd", "BaeCoach", FormMethod.Post))
                {

                    <div class="grid-container">
                        <div class="grid-item">

                            <label>Name:</label><input type="text" class="form-control" name="Name" required />
                            <label>Surname:</label><input type="text" class="form-control" name="Surname" required />
                            @*<lable>Username:</lable><input type="text" class="form-control" id="UserName" required />*@
                            <label>Email:</label><input type="email" class="form-control" name="UserName" required />
                            <label>Password:</label><input type="password" class="form-control" name="Password" required />
                            <input name="CountryID" type="text" hidden />
                            <input name="RegionID" type="text" hidden />
                            <input name="CityID" type="text" hidden />
                            <input name="TitleID" type="text" hidden />
                            <input name="GenderID" type="text" hidden />
                            <input name="RealtionshipStatusID" type="text" hidden />

                            <lable>Country:</lable><select class="form-control" name="Country" required>
                                <option>---Please Select---</option>
                                @foreach (var country in Model.CountryList)
                                {
                                    <option>@country.Name</option>
                                }
                            </select>

                            <lable>Provice:</lable><select class="form-control" name="Region" required>
                                <option>---Please Select---</option>
                                @foreach (var region in Model.RegionList)
                                {
                                    <option>@region.Name</option>
                                }

                            </select>

                            <lable>City:</lable><select class="form-control" name="City" required>
                                <option>---Please Select---</option>
                                @foreach (var city in Model.CityList)
                                {
                                    <option>@city.Name</option>
                                }
                            </select>
                        </div>

                        <div class="grid-item">
                            <lable for="Title">Title:</lable><select class="form-control" name="Title" style="width:40%; float:right" required>
                                <option>---Please Select---</option>
                                @foreach (var title in Model.TitleList)
                                {
                                    <option>@title.Titledescription</option>
                                }
                            </select>
                            <br />

                            <div class="grid-item">
                            </div>
                            <br />
                            <div class="grid-item">
                                <lable for="Gender">Gender:</lable><select class="form-control" name="Gender" style="width:40%; float:right " required>
                                    <option>---Please Select---</option>
                                    @foreach (var gender in Model.GenderList)
                                    {
                                        <option>@gender.GenderDescription</option>
                                    }
                                </select>
                                <br />
                            </div>
                            <br />
                            <div class="grid-item">
                            </div>
                            <div class="grid-item">
                                <lable for="RelationshipStatus">Relationship Status:</lable><select class="form-control" name="RelationshipStatus" style="width:50%; float:right" required>
                                    <option>---Please Select---</option>
                                    @foreach (var relationshipStatus in Model.RelationshipStatusList)
                                    {
                                        <option>@relationshipStatus.RelationshipStatusDescription</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div>
                            
                            <input type="submit" class="btn" id="buttonRight" value="Submit" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </center>
</body>
</html>
