@model BaeCoach.Models.myUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <center>
        <div id="element">
            <div class="card-body1" style="width:60%; height:100%">
                @using (Html.BeginForm("Edit", "myUsers", FormMethod.Post))
                {

                    @Html.AntiForgeryToken()

                    <center>
                        <div class="form-horizontal">
                            <h1>Update Profile</h1>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="pull-left">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </center>

                    <center>
                        <div class="form-group">
                            <div class="pull-left">
                                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </center>
                    <center>
                        <div class="form-group">
                            <div class="pull-left">
                                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </center>
                    <center>
                        <div class="form-group">
                            <div class="pull-left">
                                @Html.LabelFor(model => model.userLogin.UserPassword, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-10">
                                <input type="password" name="UserPassword" class="form-control" required />
                            </div>
                        </div>
                    </center>

                    <center>
                        <div class="form-group">
                            <div class="pull-left">
                                @Html.LabelFor(model => model.FK_TitleID, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("FK_TitleID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FK_TitleID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </center>

                    <center>
                        <div class="form-group">
                            <div class="pull-left">
                                @Html.LabelFor(model => model.FK_GenderID, "Gender", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("FK_GenderID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FK_GenderID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </center>

                    <center>
                        <div class="form-group">
                            <div class="pull-left">
                                @Html.LabelFor(model => model.FK_RelationshipStatusIdn, "RelationshipStatus", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("FK_RelationshipStatusIdn", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FK_RelationshipStatusIdn, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </center>

                    @*<center>
                            <div class="form-group">
                                <div class="pull-left">
                                    @Html.LabelFor(model => model.FK_ActiveID, "Active", htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    @Html.DropDownList("FK_ActiveID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FK_ActiveID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </center>*@

                    <center>
                        <div class="form-group">
                            <div class="pull-left">
                                @Html.LabelFor(model => model.FK_CityID, "City", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("FK_CityID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FK_CityID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </center>
                    <center>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-light" />
                            </div>
                        </div>
                    </center>
                }

            </div>
        </div>

    </center>
</body>
</html>

