@model List<BaeCoach.Models.Post>
@{
    Layout = null;
    int c = 0;
    if (Session["userID"] == null || Convert.ToBoolean(Session["type"]) == false)
    {
        Response.Redirect("~/BaeCoach/DoLogIn");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/ApplicationStyle.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/JS/JavaScript.js"></script>
    <title>CoachFeed</title>
</head>
<body>
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Home", "BaeCoach")">BaeCoach</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">

                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <div class="dropdown-content" aria-labelledby="navbarDropdownMenuLink" style="right:0">
                            @using (Html.BeginForm("checkEdit", "BaeCoach", FormMethod.Get))
                            {
                                <input id="Submit1" type="submit" value="Update Profile" style="border: none; background-color:transparent;" />
                                <input id="Text1" type="text" value="@Session["myUsersID"]" name="UserID" hidden />
                            }
                            @using (Html.BeginForm("Logout", "BaeCoach"))
                            {
                                <input id="Submit1" type="submit" value="Log out" style="border: none; background-color:transparent;" />
                            }



                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div>

        <div class="container">
            <div class="page-header text-center">
                <h1 id="timeline">GET TO WORK HELPING OTHERS</h1>
            </div>
            @*@using (Html.BeginForm("Home", "BaeCoach", FormMethod.Get))
                {
                    <input id="Text1" type="text" value="@Session["userID"]" name="UserID" hidden />
                    <center><a class="dropdown-item" href="@Url.Action("Home", "BaeCoach")" style="font-size:15px">Back</a></center>
                }*@
            <ul class="timeline">


                @foreach (var item in Model)
                {

                    if (c == 0)
                    {
                        c = 1;

                        <li>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <img class="img-responsive" src="@Session["ImageLink"] " />

                                </div>
                                @using (Html.BeginForm("Create", "Response", FormMethod.Get))
                                {
                                    <div class="timeline-body">
                                        <p>@item.PostText</p>
                                    </div>

                                    <div class="timeline-footer">
                                        <a href="@Url.Action("Create", "Responses", FormMethod.Get)" class="elements"><i class="fa fa-paper-plane"></i></a>
                                        <a class="pull-right">@Session["TopicName"]</a>
                                        <input type="text" value="@item.PostID" name="PostID" hidden />
                                        <input type="text" value="@item.Responses" name="ListOfResponses" hidden />
                                        <input type="text" value="@Session["topicId"]" name="topic" hidden />


                                    </div>
                                }
                            </div>
                        </li>

                    }

                    else
                    {
                        c = 0;
                        <li class="timeline-inverted">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <img class="img-responsive" src="@Session["ImageLink"]" />

                                </div>
                                @using (Html.BeginForm("Create", "Responses", FormMethod.Get))
                                {
                                    <div class="timeline-body">
                                        @*<p>@item.PostText</p>*@
                                        <input id="Text1" type="text" value="@item.PostText" name="postText" style="border:none; background-color:transparent"/>
                                    </div>

                                    <div class="timeline-footer">
                                        <a href="@Url.Action("Create", "Responses", FormMethod.Get)" class="elements"><i class="fa fa-paper-plane"></i></a>
                                        <a class="pull-right">@Session["TopicName"]</a>
                                        <input type="text" value="@item.PostText" name="PostID" hidden />
                                        <input type="text" value="@item.Responses" name="ListOfResponses" hidden />
                                        <input type="text" value="@Session["topicId"]" name="TopicID" hidden />
                                    </div>
                                }

                            </div>
                        </li>

                    }
                }
               
            </ul>
        </div>
    </div>
</body>
</html>
